
.box-wrapper {
  // background-color: black;
  // background: linear-gradient(to bottom right, #ff512f, #dd2476);
  background: linear-gradient(to bottom right, #ff4e50, #f9d423);
  // height: 100%;
  .music-box {
    // background-color: black;
    // background: linear-gradient(to bottom right, #ff512f, #dd2476);
    background: linear-gradient(to bottom right, #ff4e50, #f9d423);
    border: 10px solid white;
    border-radius: 30px;
    padding: 25%;
    margin: 5% 10%;
    // margin: 70px 150px 90px 150px;
    text-align: center;
    font-size: 50px;
    color: white;
  }
}


.box-1 {
  background-color: red;
}

.box-2 {
  background-color: green;
}

.nav {
  background-color: #0d0d0d;
  width: 100%;
  color: white;
  height: 60px;
  font-size: 17px;
  padding-top: 10px;
  .nav-logo {
    clear: both;
    font-size: 24px;
    padding-left: 30px;

  }
  a {
    color: #FAFAFA;
    padding: 5px;
  }
}

html, body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #F5F5F5;
  // background-color: orange;
  // .main-container {
  //   margin: 10px 30px 10px 30px;
  //   // margin: 0;
  // }
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

h2, h3 {
  font-weight: bold;
}

.main-header-wrapper {
  padding: 100px 50px;
  background-color: #141414;
  color: #FAFAFA;
  .main-header {
    font-size: 90px;
    font-weight: bold;
  }
}

//
// .discover-container {
//   // width: 100%;
//   margin: 0 auto;
//   .discover-left {
//     // padding-left: 80px;
//   }
//   .disc-image-continer {
//     // position:relative;
//     // padding-top:100%;
//     // overflow: hidden;
//   }
// }


.bands-div {
  // background-color: #F4F4F4;
  background-color: #DBDBDB;
  // background-color: red;
  padding: 8px 0px 25px 0px;
}

.google-map {
  height: 100vh;
}

.musicians-div {
  padding: 8px 0px 25px 0px;
}

.tile-padding-margin {
  // margin: 3px;
  // padding: 2px;
  // border: 2px solid grey;
  // border-radius: 30px;
  // background-color: #9B9B9B;
}


.img-band {
 position: absolute;
  top: 0;
  left: 0;
  width:100%;
}

.img-user {
 position: absolute;
  top: 0;
  left: 0;
  width:100%;
}

.img-container {
   position:relative;
   padding-top:60%;
   overflow: hidden;
}




.float-right {
  float: right;
}

.header {
  background-color: #141414;
  margin: 0px;
  #index-title {
    margin: 0px;
    padding: 50px;
    color: #FAFAFA;
    float: left;
    clear: both;
    // background-color: #191919;
  }
}

.users-main-container {
  margin-top: 30px;
  .outer-wrapper {
    background-color: white;
    .inner-wrapper {
      padding: 10px;
    }
  }
}

.img-container-profile {
   position:relative;
   padding-top: 40%;
   padding-bottom: 40%;
   overflow: hidden;
   margin: 0px;
   background-color: #F5F5F5;
}

.users-main-container {
  margin-top: 30px;
  .outer-wrapper {
    background-color: white;
    .inner-wrapper {
      padding: 10px;
    }
  }
}




.search-bar {
  padding-top: 4.5%;
}

//SHOW PAGE

.profile-container {
  margin: 60px;
  padding: 0px 60px;
}
